<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title></title>
    <!--[if mso]>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->
    <style>
        table, td, div, h1, p {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body style="margin:0;padding:0;">
<div style="width: 600px;margin-left: auto;margin-right: auto;padding: 40px;border: 4px solid grey;background-color: pink">
    <div style="width: 100%;background-color: #ff5344">
        <h1 style="color: white;padding:40px;margin-left: auto;margin-right: auto;text-align: center">Letter Pop</h1>
    </div>
    <div>
        <h3 style="text-align: center">Verify your email address</h3>

        <p style="text-align: center;font-size: 18px">Please confirm you want to use this as your Letter Pop account
            email address</p>
        <div style="width: 70%;margin-left: auto;margin-right:auto;background-color: #ff5344;color: white;text-align: center;padding: 20px">
            <a href="{{.Url}}" style="text-decoration: none;color: white"> Verify my email</a>
        </div>

        <br>

        <p style="text-align: center">Or paste this URL in the browser {{.Url}}</p>
    </div>
</div>
</body>
</html>

